<h1>LDWS</h1>
<p>Bienvenido, por favor agregué una empresa para continuar o proceda generando el reporte de una ya existente</p>
<%= link_to 'Empresas', companies_path, :class => "form-control" %>
<%= link_to 'Solicitudes', requests_path, :class => "form-control" %>
