<style>
div.header {
    background-color: #000000e8;
    border-radius: 25px;
    padding: 2%;
    margin-left: 4%;
    margin-right: 2%;
    margin-top: 2%;
}

div.title {
    color:white;
    font-size: 40px;
}

div.text_header{
    color:#ababab;
    font-size: 20px; 
}

div.navv{
    margin-left: 4%;
    margin-right: 2%;
    margin-top: 2%; 
    color: white;
}
.navbar-inverse {
    background-color: #218ec3; 
    border-color: #000000; 
    border-radius: 15px;
    border: black 2px solid;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 30px 75px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #011f2d;
    border-radius: -3px;
    font-size: 16px;
}
</style>

<div class="row">
    <div class="col-md-11 header">
        <div class="col-md-1 title">
            <center>LDWS</center>
        </div>
        <div class="col-md-8 col-md-offset-2 text_header">
            <center>MODELO PARA EL DISEÑO DE REDES EN ENTORNOS LAN BASADO EN UN SISTEMA MULTINIVEL</center>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-11 navv">
        <nav class="navbar navbar-inverse">
          <ul class="nav navbar-nav">
            <li><a href="#">Gestión de usuaio</a></li>
            <li><a href="#">Gestión de solicitudes</a></li>
            <li><a href="#">Gestión de perfil</a></li>
            <li><a href="#">Gestión de equipos</a></li>
            <li><a href="#">Ver equipos</a></li>
          </ul>
        </nav>
    </div>
</div>
<!--https://ldws-ud-kevinandrey96.c9users.io/pruebas/index--
